.cart-image{
    width: 100px;
}
.id
{
    width: 30px;
    height: 100px;
}
.name
{
    width: 200px;
}
.desc{
    width: 250px;
}
.action{
    padding-left: 150px;

}
.act{
    padding-left: 100px;

}
.admin{
    margin-top: -15px;
    color: rgb(213, 212, 212);
    margin-left:100px;
    font-size: 20px;
}

